

<script type="text/x-handlebars">

 <h3> &nbsp; Welcome to the Grocery website</h3>



      <!-- <div class="bd-reverse">
          <button class="btn space-big soft" {{action "openModal"}}>Open Modal</button>
        </div>
      </div>  -->
                                  
      {{outlet}}   
</script>

<script type="text/x-handlebars" id="index">
          <br><br>
     <h3 class="headline"> Your groceries 
     <br>
     delivered. Tomorrow. </h3>
     <p class="tagline"> Pick your groceries. </p>
     {{#link-to 'stocks' class="button" id="custombutton"}} Search groceries now. {{/link-to}}
</script>